
@model POA.Web.Models.Template.EditTemplateForm
@{
    ViewBag.Template = "Edit " + Model.Name;
}

<h2>Edit Template</h2>
@using (Html.BeginForm("Edit", "Template", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(m => m.Template_ID)

    @Html.EditorForModel()

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save Changes" class="btn btn-primary" />
            @Html.ActionLink("Cancel", "Cancel", "Template", new { @class = "btn btn-primary" })
        </div>
    </div>
}

