
@model POA.Web.Models.SubCategory.EditSubCategoryForm
@{
    ViewBag.Category = "Edit " + Model.Name;
}

<h2>Edit SubCategory</h2>
@using (Html.BeginForm("Edit", "SubCategory", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(m => m.SubCategory_ID)

    @Html.EditorForModel()

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save Changes" class="btn btn-primary" />
            @Html.ActionLink("Cancel", "Cancel", "SubCategory", new { @class = "btn btn-primary" })
        </div>
    </div>
}

