
@model POA.Web.Models.Country.EditCountryForm
@{
    ViewBag.Country = "Edit " + Model.Name;
}

<h2>Edit Country</h2>
@using (Html.BeginForm("Edit", "Country", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(m => m.Country_ID)

    @Html.EditorForModel()

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save Changes" class="btn btn-primary" />
            @Html.ActionLink("Cancel", "Cancel", "Country", new { @class = "btn btn-primary" })
        </div>
    </div>
}

